<footer class="site-footer">

  <div class="wrapper" data-grid="center spacing">

    <div data-cell="1of2">
      <h2 class="footer-heading">{{ site.title }}</h2>
      <p>{{ site.description }}</p>
    </div>

    <div data-cell="1of2">
      <p><a href="{{ site.baseurl }}/">Início</a></p>
      {% for my_page in site.pages %}
        {% if my_page.menu-title %}
          <p><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menu-title }}</a></p>
        {% endif %}
      {% endfor %}
    </div>

    <div data-cell="shrink"><img src="/img/logo-saberatual-2016-160px.png" alt="Logo Saber Atual"></div>

  </div>

</footer>
