body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure 
    margin: 0
    padding: 0

body 
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family
    color: $text-color
    background-color: $background-color
    -webkit-text-size-adjust: 100%
    -webkit-font-feature-settings: "kern" 1
    -moz-font-feature-settings: "kern" 1
    -o-font-feature-settings: "kern" 1
    font-feature-settings: "kern" 1
    font-kerning: normal

    box-sizing: border-box
    *
        box-sizing: inherit

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm 
    margin-top: $spacing-unit / 2
    margin-bottom: $spacing-unit / 2

img 
    max-width: 100%
    vertical-align: middle
    border: none

figure>img 
    display: block

figcaption 
    font-size: $small-font-size

ul, ol 
    margin-left: $spacing-unit
    &.seamless
        margin-left: auto
        list-style: none

li
    margin-bottom: $spacing-unit / 2
    >ul, >ol 
        margin-bottom: 0

h1, h2, h3, h4, h5, h6 
    font-weight: $base-font-weight

@for $i from 1 through 6
    h#{$i}
        font-size: $base-font-size + $base-font-size * 2 * ( 1 / $i )

hr
    border: none
    border-bottom: 1px solid $grey-color-light

a 
    color: $brand-color
    text-decoration: none
    @extend %base-ui-transitions
    
    &:hover, &:focus
        color: $text-color
        text-decoration: underline

blockquote 
    color: $grey-color
    border-left: 4px solid $grey-color-light
    padding-left: $spacing-unit / 2
    padding-top: 1px
    padding-bottom: 1px
    font-size: 18px
    letter-spacing: -1px
    font-style: italic

pre, code 
    font-size: 15px
    border: 1px solid $grey-color-light
    border-radius: 3px
    background-color: #eef

code 
    padding: 1px 5px

pre 
    padding: 8px 12px
    overflow-x: auto
    >code 
        border: 0
        padding-right: 0
        padding-left: 0

table
    min-width: 50%
    margin: auto
    table-layout: fixed
    border-collapse: collapse
    th
        background-color: $brand-color
        color: #fff
    th, td
        border: 1px solid #fff
        padding: 5px
    tr
        background-color: $background-color
        &:nth-of-type(even)
            background-color: $grey-color-light

.wrapper 
    max-width: $content-width
    margin-right: auto
    margin-left: auto
    padding-right: $spacing-unit
    padding-left: $spacing-unit
    @extend %clearfix
    @include media-query($on-laptop)
        padding-right: $spacing-unit / 2
        padding-left: $spacing-unit / 2
    &.large
        max-width: $large-content-width

.hero
    padding: $spacing-unit
    background-color: $grey-color
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%)
    background-blend-mode: normal, lighten, soft-light
    color: $background-color
    a
        color: $anti-brand
    [data-btn]
        &, &:visited, &:hover, &:active, &:focus
            color: #fff
    @include media-query($on-laptop)
        padding: $spacing-unit / 2
    &.brand
        background-color: $brand-color
        background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%)
    &.dark
        background-color: $grey-color-dark
        background-image: linear-gradient(to right, #434343 0%, black 100%)
    &.light
        background-color: $grey-color-light
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%)
        color: $grey-color-dark
        a
            color: $brand-color
    &.white
        background: #fff
        color: $grey-color-dark
        a
            color: $brand-color

.video-frame
    height: 0
    padding-bottom: 56.25%
    position: relative
    iframe, object, embed, > *
        width: 100%
        height: 100%
        position: absolute

%clearfix 
    &:after 
        content: ""
        display: table
        clear: both

.svg-container
    svg
        max-width: 100%
        max-height: 100%

.icon 
    >svg 
        display: inline-block
        width: 1em
        height: 1em
        vertical-align: text-top
        color: inherit
        path, rect, circ, polygon
            fill: currentcolor

+module(text)
    +variant(left)
        text-align: left
    +variant(right)
        text-align: right
    +variant(center)
        text-align: center
    +variant(upper)
        text-transform: uppercase
    +variant(lower)
        text-transform: lowercase
    +variant(bold)
        font-weight: bold
    +variant(nobreak)
        white-space: nowrap
    +variant(break)
        word-break: break-all

+module(btn)
    display: inline-block
    padding: 3px 15px
    border-radius: 4px
    letter-spacing: 1px
    background-color: $brand-dark
    color: #fff
    box-shadow: 0 0 10px 0 rgba(black, .5)
    &:hover, &:focus
        text-decoration: none
        background-color: $brand-color
        color: #fff
        outline: none
        box-shadow: 0 0 10px 0 rgba(black, .7)

