// Our variables
$base-font-family:    "Muli", Helvetica, Arial, sans-serif
$title-font-family:   "Dosis", Helvetica, Arial, sans-serif
$ui-font-family:      "Helvetica Neue", Helvetica, Arial, sans-serif
$base-font-size:      16px
$base-font-weight:    400
$small-font-size:     $base-font-size * 0.875
$base-line-height:    1.5

$spacing-unit:        60px

$text-color:          #333
$background-color:    #fff
$brand-color:         #3480C5
$brand-dark:          #00498c
$anti-brand:          #ffe86f

$grey-color:          #828282
$grey-color-light:    lighten($grey-color, 40%)
$grey-color-dark:     darken($grey-color, 25%)

$large-content-width: 1200px
$content-width:       1000px
$on-palm:             600px
$on-laptop:           800px

%base-ui-transitions
    transition: .3s ease-in-out